* {
  box-sizing: border-box;
}

body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 {
  background-color: #D3D3D3; /* light grey */
  color: #225;
}
.bg-2 {
  background-color: #474e5d; /* Dark Blue */
  color: #ffffff;
}
.bg-3 {
  background-color: #ffffff; /* White */
  color: #555555;
}
.bg-4{
  background-color:  #225; /* Dark Blue */
  color: #ffffff;
}
.bg-5 {
  background-color: #2f2f2f; /* Black Gray */
  color: #fff;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

/* contact and about me*/
.container-fluid2{
  padding-top: 40px;
  background-color: #D3D3D3; /* dark blue */
  color: #225;
}
.container-fluid3{
  padding-bottom: 30px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav   a:hover {
  color: red;
}
.navbar-brand li a:hover{
  color: yellow !important;
}
/* About me */
h2 {
   font-size: 24px;
   text-transform: uppercase;
   color: #303030;
   font-weight: 600;
   margin-bottom: 30px;

 }
 h4 {
   font-size: 19px;
   line-height: 1.375em;
   color: #D3D3D3;
   font-weight: 400;
   margin-bottom: 30px;
 }

 ul#dots{
   list-style-type: none;
 }

#teacher{
  position: static;
  position: absolute;
  top: 1200px;
  right: 50px;
  width: 250px;
  height: 400px;
  border-radius: 100px;

}
/* footer */
.fa-facebook {
  background: #3B5998;
  color: white;
  border-radius: 50%;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
  border-radius: 50%;
}

.fa-instagram {
  background: #125688;
  color: white;
  border-radius: 50%;
}
.col-sm-4{
  border-radius: 50%;
}
div.background {
  background: url("..images/lipbalm.jpg") repeat;
  border: 2px solid black;
}

div.transbox {
  margin: 30px;
  background-color: #D3D3D3;
  border: 3px solid #D3D3D3;
  opacity: 1;
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #225;
}
